/*******************************************************************************
 * COPYRIGHT Ericsson 2024
 *
 *
 *
 * The copyright to the computer program(s) herein is the property of
 *
 * Ericsson Inc. The programs may be used and/or copied only with written
 *
 * permission from Ericsson Inc. or in accordance with the terms and
 *
 * conditions stipulated in the agreement/contract under which the
 *
 * program(s) have been supplied.
 ******************************************************************************/
.unavailable-block {
    margin: 30px;
}
.unavailable-title > span {
    margin-bottom: 15px;
    font-weight: bold;
    margin-left: 10px;
}

.unavailable-content {
    margin: 0;
}
