/*******************************************************************************
 * COPYRIGHT Ericsson 2024
 *
 *
 *
 * The copyright to the computer program(s) herein is the property of
 *
 * Ericsson Inc. The programs may be used and/or copied only with written
 *
 * permission from Ericsson Inc. or in accordance with the terms and
 *
 * conditions stipulated in the agreement/contract under which the
 *
 * program(s) have been supplied.
 ******************************************************************************/
/* style goes here */
:host {
  display: block;
}
.accordion-title {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  font-weight: 700;
  padding: 12px 0;
  width: 450px;
}

.accordion-closed {
  display: none;
}

.accordion-opened {
  padding-left: 16px;
}
