/*******************************************************************************
 * COPYRIGHT Ericsson 2024
 *
 *
 *
 * The copyright to the computer program(s) herein is the property of
 *
 * Ericsson Inc. The programs may be used and/or copied only with written
 *
 * permission from Ericsson Inc. or in accordance with the terms and
 *
 * conditions stipulated in the agreement/contract under which the
 *
 * program(s) have been supplied.
 ******************************************************************************/
/* style goes here */
:host{
  display: block;
}

.timeline ul {
  font-size: 14px;
  padding-inline-start: unset;
}

.timeline li {
  list-style-type: none;
}

.timeline .timestamp {
  color: #767676;
  display: inline-block;
  font-size: 0.9em;
  text-overflow: ellipsis;
  overflow: hidden;
  font-weight: bold;
  opacity: 0.9;
}

.timeline .name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-bottom: 1rem;
  font-weight: bold;
}

.noDataMessage {
  font-weight: bold;
  display: none;
  color: grey;
  opacity: 0.7;
}