/*******************************************************************************
 * COPYRIGHT Ericsson 2024
 *
 *
 *
 * The copyright to the computer program(s) herein is the property of
 *
 * Ericsson Inc. The programs may be used and/or copied only with written
 *
 * permission from Ericsson Inc. or in accordance with the terms and
 *
 * conditions stipulated in the agreement/contract under which the
 *
 * program(s) have been supplied.
 ******************************************************************************/
:host{
  display: block;
}

.keyValuePairTitle {
  padding-bottom: 8px;
}

.keyValuePairTitle label {
  display: inline-block;
}

.keyValuePairTitle #keyTitle,
.keyValuePairTitle #valueTitle {
  width: 220px;
}

.keyValuePairGroup e-generic-key-value-pair-input {
  margin-bottom: 4px;
}