/*******************************************************************************
 * COPYRIGHT Ericsson 2024
 *
 *
 *
 * The copyright to the computer program(s) herein is the property of
 *
 * Ericsson Inc. The programs may be used and/or copied only with written
 *
 * permission from Ericsson Inc. or in accordance with the terms and
 *
 * conditions stipulated in the agreement/contract under which the
 *
 * program(s) have been supplied.
 ******************************************************************************/
.timeout-form--wrapper {
  display: flex;
  align-items: baseline;
}

.timeout-form-input--wrapper {
  min-height: 47px;
  margin-left: 5px;
}

.error-message {
  font-size: 12px;
  margin-top: 5px;
  color: red;
}