/*******************************************************************************
 * COPYRIGHT Ericsson 2024
 *
 *
 *
 * The copyright to the computer program(s) herein is the property of
 *
 * Ericsson Inc. The programs may be used and/or copied only with written
 *
 * permission from Ericsson Inc. or in accordance with the terms and
 *
 * conditions stipulated in the agreement/contract under which the
 *
 * program(s) have been supplied.
 ******************************************************************************/
/* style goes here */
:host {
  display: block;
}

.divPanelBody {
  display: table;
  width: 100%;
}

.divPanelResourceName {
  padding-bottom: 15px;
  font-weight: bold;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 270px;
}

.divPanelBody .divTableRow {
  display: table-row-group;
}

.divPanelBody .divTableCell {
  padding-bottom: 15px;
  display: table-cell;
}

.divPanelBody .divTableCell:nth-child(1) {
  opacity: 0.7;
  white-space: nowrap;
  width: 120px;
}

.divPanelBody .divTableCell:nth-child(2) {
  font-weight: bold;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: block;
  width: 120px;
}

.divPanelMsg {
  width: 100%;
}

.divPanelMsgTitle {
  opacity: 0.7;
  padding-bottom: 15px;
}

a:link {
  color: var(--blue, var(--blue, #0082f0));
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

a:hover {
  color: var(--blue-lighten-15, #3ea6ff);
}
