/*******************************************************************************
 * COPYRIGHT Ericsson 2024
 *
 *
 *
 * The copyright to the computer program(s) herein is the property of
 *
 * Ericsson Inc. The programs may be used and/or copied only with written
 *
 * permission from Ericsson Inc. or in accordance with the terms and
 *
 * conditions stipulated in the agreement/contract under which the
 *
 * program(s) have been supplied.
 ******************************************************************************/
/* style goes here */
:host{
  display: block;
}

.descriptionText {
    white-space: normal;
    display: inline-block;
    overflow: hidden;
}

.content {
    display: inline;
    margin: 0;
}

.more{
    color:black;
    font-size:13px;
    cursor:pointer;
    border-bottom: dotted 2px;
    vertical-align: top;
}