/*
 * COPYRIGHT Ericsson 2024
 *
 *
 *
 * The copyright to the computer program(s) herein is the property of
 *
 * Ericsson Inc. The programs may be used and/or copied only with written
 *
 * permission from Ericsson Inc. or in accordance with the terms and
 *
 * conditions stipulated in the agreement/contract under which the
 *
 * program(s) have been supplied.
 */

/* style goes here */
:host {
  display: block;
}

.mt-base {
  margin-top: var(--has-space-top--base);
}

.ml--20 {
  margin-left: -20px;
}

.filter-form--item {
  margin-bottom: var(--has-space-bottom--base);
  margin-top: var(--has-space-top--base);
}

.filter-form--item > label {
  display: block;
  margin-bottom: var(--has-space-bottom--small);
}

.filter-form--action {
  margin: 20px 0;
}
