/*******************************************************************************
 * COPYRIGHT Ericsson 2024
 *
 *
 *
 * The copyright to the computer program(s) herein is the property of
 *
 * Ericsson Inc. The programs may be used and/or copied only with written
 *
 * permission from Ericsson Inc. or in accordance with the terms and
 *
 * conditions stipulated in the agreement/contract under which the
 *
 * program(s) have been supplied.
 ******************************************************************************/
/* style goes here */
:host{
  display: block;
}
.heading {
  font-weight: bold;
}
.filter eui-base-v0-text-field {
  width: 15%;
}
.filter {
  padding-top: 20px;
  padding-bottom: 20px;
}