/*
 * COPYRIGHT Ericsson 2024
 *
 *
 *
 * The copyright to the computer program(s) herein is the property of
 *
 * Ericsson Inc. The programs may be used and/or copied only with written
 *
 * permission from Ericsson Inc. or in accordance with the terms and
 *
 * conditions stipulated in the agreement/contract under which the
 *
 * program(s) have been supplied.
 */

:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: var(--is-size-1);
  font-weight: var(--has-text-weight-light);
}

.user-administation--link {
  text-decoration: none;
  color: var(--blue-50);
}
