/*
 * COPYRIGHT Ericsson 2024
 *
 *
 *
 * The copyright to the computer program(s) herein is the property of
 *
 * Ericsson Inc. The programs may be used and/or copied only with written
 *
 * permission from Ericsson Inc. or in accordance with the terms and
 *
 * conditions stipulated in the agreement/contract under which the
 *
 * program(s) have been supplied.
 */

/* style goes here */
:host {
  display: block;
}

.file-input--wrapper {
  display: flex;
  justify-content: space-between;
}

.file-input {
  width: 193px;
  pointer-events: none;
}

.text-input {
  width: 308px;
}

.is-fullwidth {
  width: 100%;
}

/* general styles for form */
.form--item {
  margin-bottom: var(--space-large);
  margin-top: var(--space-large);
}

.form--item > label {
  display: block;
  margin-bottom: var(--space-small);
}

.form--item.required > label:after {
  content: '*';
  color: var(--blue-50);
  margin-left: var(--space-small);
}
