/*******************************************************************************
 * COPYRIGHT Ericsson 2024
 *
 *
 *
 * The copyright to the computer program(s) herein is the property of
 *
 * Ericsson Inc. The programs may be used and/or copied only with written
 *
 * permission from Ericsson Inc. or in accordance with the terms and
 *
 * conditions stipulated in the agreement/contract under which the
 *
 * program(s) have been supplied.
 ******************************************************************************/
:host{
  display: block;
}

.container {
  display: flex;
  align-items: baseline;
}

.key,
.value {
  width: 220px;
  height: 48px;
}

.delete {
  cursor: pointer;
  align-self: center;
  margin-bottom: 18px;
}

.delete #deleteKeyValuePairIcon[disabled] {
  cursor: not-allowed;
  opacity: 0.4;
}

.error {
  color: red;
}