/*******************************************************************************
 * COPYRIGHT Ericsson 2024
 *
 *
 *
 * The copyright to the computer program(s) herein is the property of
 *
 * Ericsson Inc. The programs may be used and/or copied only with written
 *
 * permission from Ericsson Inc. or in accordance with the terms and
 *
 * conditions stipulated in the agreement/contract under which the
 *
 * program(s) have been supplied.
 ******************************************************************************/
/* style goes here */
:host{
  display: block;
}

.customPanel {
  display: table-row;
  width: 100%;
}

.customMainPanelInfo {
  padding-bottom: 10px;
  font-weight: bold;
}

.sub-content {
  margin-top: 30px;
}

.noDataMessage {
  font-weight: bold;
  display: none;
  color: grey;
  opacity: 0.7;
}